*{
    font-size: 1.125rem;
}




.intro {
    padding: 3rem;
    margin: 2rem 0;
    justify-content: center;
    max-width: 56.25rem;
    border: 1px lightgray solid;
    color: #ffc700;
    background-color: #18354a;
}
